*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Section */

.header{
    background-color: black;
    height: 650px;
    padding: 0 15%;
}

span{
    color: #e71252;
}

.text{
    color: white;
    padding-top: 200px;
    position: absolute;
}
.title{
    font-size: 4.5rem;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.name{
    font-size: 2.5rem;
    margin-top: 20px;
    letter-spacing: 10px;
}

.pro-link{
text-decoration: none;
text-transform: uppercase;
background-color: #ff004c;
color: white;
letter-spacing: 5px;
padding: 20px 80px;
position: absolute;
margin-top: 50px;
}

.pro-link:hover{
    background-color:#e71252;
    border: 1px solid white;
    border-radius: 10px;
    transition: .5s;
}


.portrait{
    right: 0;
    height: 650px;
    transform: translateX(600px);
}

/* Header Section End */

/* About Section */

.about{
    height: 600px;
    padding: 100px 15% 0;
    background-color: rgb(8, 8, 8);
    color: white;
    position: relative;
}

.about-right{
    left: 45%;
    right: 15%;
    position: absolute;
    line-height: 1.8;
}

.about-title{
    font-size: 3.5rem;
    letter-spacing: 5px;
    margin-bottom: 15px;
}

.about-sub2{
    margin-top: 15px;
}

.about-img{
    position: absolute;
    margin-top: 50px;
}

.about-btn{
    text-decoration: none;
    text-transform: uppercase;
    background-color: #E54D26;
    color: white;
    letter-spacing: 5px;
    padding: 15px 60px;
    position: absolute;
    margin-top: 50px;
}

.about-btn:hover{
    background-color: #eb2f00;
    border: 1px solid white;
    border-radius: 10px;
    transition: .5s;
}

/* About Section End */

/* Skill Section */

.skill{
    height: 800px;
    padding: 150px 15% 0;
    background-color: rgb(8, 8, 8);
    color: white;
    position: relative;
}

.skill-title{
    text-align: center;
    font-size: 3.5rem;
    letter-spacing: 5px;
    margin-bottom: 30px;
}

.skill-sub{
    text-align: center;
    width: 70%;
    margin: auto;
    line-height: 1.8;
}

table{
    margin: auto;
    margin-top: 60px;
    border-collapse: collapse;
}

.data {
    font-size: 2rem;
}

.star{
    font-size: 2rem;
    letter-spacing: 10px;
}

.review{
    color:#F7B809;
}

td{
    padding: 2% 150px;
}

tr{
    background-color: rgb(0, 0, 0);
}

tr:nth-child(even){
    background-color: rgb(8, 8, 8);
}

tr:hover{
    background-color: rgb(26, 26, 26);
    cursor: pointer;
    transition: .5s;
}

/* Skill Section End */

.thank{
    height: 650px;
    width: 100%;
    padding: 150px 15% 50px;
    background-color: rgb(8, 8, 8);
    color: white;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.thank-title{
    color: white;
}

.thank-title:hover{
    color: #ff0101;
}

.love{
font-size: 200px;
}
.love:hover{
    color: #ff0101;
    transition: 1s;
    cursor: pointer;
}